fastapi
uvicorn[standard]
requests
httpx
pandas
numpy
ta-lib
scikit-learn
tensorflow
bybit-api
python-dotenv
pydantic[dotenv]
pydantic
pytest
pytest-asyncio
pytest-cov
mypy
flake8
black
aiocache
sqlalchemy
celery[redis]
pywavelets
structlog